.body {
  background-color: #e9e9e9;
}
.active-scroll {
  font-weight: bold;
  color: #ff8040 !important;
}
.navbar {
  transition: all 0.3s ease;
}
.navbar.scrolled {
  background-color: #001bb7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
a.daftar {
  border-width: 2px;
  color: white;
}
.daftar.scrolled {
  color: white;
  border-color: white;
}
.daftar:hover {
  background-color: white !important;
  color: #001bb7 !important;
}
.parallax-hero {
  background-image: url("assets/Heroes.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pembatas {
  width: 60px;
  height: 7px;
  background-color: #ff8040;
}
.imgtop {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.carddes {
  position: relative;
  border: none;
  border-radius: 12px;
}
.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  padding: 1rem;
  color: white;
}
.card-title {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.card-description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  opacity: 0;
  transform: translateY(10px);
  max-height: 0;
  transition: all 0.3s ease-in-out;
}
.carddes:hover .card-description {
  opacity: 1;
  transform: translateY(0);
  max-height: 100px;
}
.carddes:hover img {
  transform: scale(1.05);
}
.cardpaket .imgtopp {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.cardpaket .card-meta {
  font-size: 0.8rem;
  font-weight: 500;
}
.cardpaket .card-meta .bi {
  font-size: 0.9rem;
  position: relative;
  top: -1px;
}
.cardpaket .card-titlee {
  font-weight: 700;
  color: black;
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}
.cardpaket .card-price {
  font-size: 1.75rem;
  font-weight: bold;
  color: #001bb7;
}
.cartes {
  background-color: grey;
  border: none;
  border-radius: 4px;
  height: 100%;
}
.cartes .blockquote p {
  font-size: 0.9rem;
  font-weight: 600;
}
.cartes .blockquote-footer {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: right;
}
#testimoni .carousel-control-prev {
  left: -35px;
  width: auto;
}
#testimoni .carousel-control-next {
  right: -35px;
  width: auto;
}
.galitem {
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}
.galitem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.galitem:hover img {
  transform: scale(1.05);
}
.galitem-sm {
  height: 14rem;
}
.galitem-lg {
  height: 29rem;
}
